.menu ul li{
  list-style-type:none;
  display: inline-block;
  font-size: 20px;
  padding: 0px 12px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.link1:hover {
  box-shadow: 0px 8px 25px #ff0024ad;
}
.title1 {
    font-size: 35px;
    color:#ffcd0a;
    font-size: 35px;
    margin: 6% 0% 0px 9%;


}
.link1 {
    border-radius: 15px;
    background: rgba(26, 8, 1, 0.4);
    float: left;
    padding: 33px;
    font-size: 54px;
    margin-left: 138px;
    margin-top: 15%;

}
  .menu {
  	float: right;

    color:  #d68910 ;
    width: 80%;
  }
  .menu ul {

    text-align: center;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    float: revert;
    margin-top: -86px;

}
  .nav-bar{
    background: rgba(0, 11, 53, 0.8);
    padding: 0px 50px;
  }

  .nav-bar h2{
  float: left;
  color: #ffae00;
  margin-top: 40px;
  }

.logo {
float: left;

}
.logo img{
  width: 90px;

}
.clear{
  clear: both;
}

.menu ul li:hover{
  color:#cdff00;
  padding-bottom: 25px;
  border-bottom: 4px solid #a5cc06;
  box-shadow: 0px 8px 9px #8bff009c;
}

a:hover{
  color: #f0ac09;
}
a{
  color: #fff;
  text-decoration: none;
}


.formcontent{
  width: 400px;
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
  background: rgba(0 ,0 ,0,.3);
  padding: 50px;
  color: #ffcc02;
}
.tablecontent {

    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    background:rgba(0, 0, 0, 0.61);
    padding: 25px;
    color:#ffa683;
    font-size: 33px;
    float: left;
    width: 26%;
    margin-left: 26px;
    height: 141px;
    border: 1px solid;
    border-color: #FFB300;

}

.formcontent h1{
color:#fff;
text-align:center;
}
body{
 color: white;
 margin: 0;
 padding: 0;
 background-image:url("../images/football.jpg");
 background-repeat: no-repeat;
 background-size:cover;
 font-family: 'Open Sans', sans-serif;
 background-size: cover;
 background-color: rgba(0, 0, 0, 0.28);
 background-blend-mode: multiply;
}
input{
  color: white;
  width: 100%;
  padding: 12px 5px;
  background: rgba(140, 82, 82, 0.4);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
button{
  color: white;
  width: 100%;
  padding: 12px 5px;
  background: rgba(140, 82, 82, 0.4);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.c1{
  background-color:#0092db;
  margin: auto;
  border-radius: 15px;
  margin-top: 40px;
}
.c1:hover {
    background-color:#00adff;

}
.formcontent p{
  color:white;
}
.tl1{
  color:white;
  text-align: -moz-center;
}
th{
  padding: 6px;
  border: 2px solid #333;
  border-color: #0579bf;

}
td{
  padding: 6px;
  border: 2px solid #333;
  border-color: #0579bf;

}
.pth {
    font-size: 21px;
    margin: auto;
    font-size: ;
    color:white;
}
table {
    text-align: center;
    border-collapse: collapse;
    margin: 10px;
    margin-top: 20px;
    color: white;
    background:rgba(0, 0, 0, 0.51);
}
header {
    text-align: center;
}
.title h2{
  float: left;
}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}
